footer {
  text-align: center;
  padding: 3px;
  margin-top: 30px;
  background-color:gray;
  color: white;
}


  .mask-custom {
    backdrop-filter: contrast(140%) brightness(100%) saturate(100%) sepia(50%)
      hue-rotate(0deg) grayscale(0%) invert(0%) blur(0px);
    mix-blend-mode: lighten;
    background: rgba(161, 44, 199, 0.31);
    opacity: 1;
  }
  h1 {
  background-color: rgb(237, 239, 245);
  color: rgb(253, 253, 255);
}

  h5 {
  background-color: rgb(241, 237, 237);
  color: white;
}
p {
  color: rgb(195, 192, 192);
  text-indent: 30px;
  text-transform: uppercase;
}
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}






.jumbotron {
  color: white;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}




	















