{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}Bienvenue à kalia_shop

{% endblock %}

{% block body %}

	<div class="container mt-5 w-50 h-50 bg-primary text-light ">

		<div class="row mt-5">
			<div class="col-12 col-md-8 col-lg-6 mx-auto">
				{{ form_start(form) }}
				{{ form_row(form.nom, {'attr': {'placeholder': "contenue du nom"}})}}
                {{ form_row(form.famille, {'attr': {'placeholder': "contenue du famille"}})}}


			
			</div>
		</div>


		{{ form_end(form) }}


	</div>


{% endblock %}

